@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
:root {
    --font1:Georgia, 'Times New Roman', Times, serif;
    --font2:"Sriracha", cursive;
    --font3:"Passion One", sans-serif;
}
html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--font1);
   
}
header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
header > h1 {
    padding-top: 50%;
    font-variant: small-caps;
    font-family: var(--font3);
}
header > p {
    padding-bottom: 50%;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom:10vh ;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font2);
    font-size: 1.5em;
}
section.normal {
    background-color: white;
    color: black;
}
section#img001 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}
section#img002 {
    background-image: url(imagens/background002.jpg);
}
section > div > p {
    background-color: blueviolet;
}

section.imagem {
    background-color: aqua;
    color: white;
    background-attachment: fixed;
    background-size: cover;

}
section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.534);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}