@charset "UTF-8";
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    text-align: justify;
    background-image: linear-gradient(to right,#221E40,#161426);
}

main{
    background-color: #9177F2;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4F3E8C;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1{
    color: #46a66f;
    text-align: center;
}

h2{
    color: #46A66F;
}