@charset "UTF-8";
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html {
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(165, 22, 22));
    height: 100vh;
    width: 100vw;
}
main {
    height: 100vh;
    width: 100vw;
    position: relative;

}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 300px;
    background-color: aliceblue;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.483);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    
}
div#imagem {
    display: block;
    background: url(../image/pexels-marcellino-andrian-209361-671629.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}
div#forms {
    display: block;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    height: 400px;

}
div#forms > h1 {
    font-size: 1.8em;
    margin: 3px;
}
div#forms > p {
    font-size: 1.2em;
}
form > input[type=submit] {
    display: block;
    font-size: 1.0em ;
    width: 80%;
    padding: 8px;
    background-color: rgb(14, 14, 14);
    color: aliceblue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 7px;
    

}
form > a {
    display: block;
    font-size: 1.0em ;
    width: 80%;
    padding: 8px;
    background-color: transparent;
     border-radius: 8px;
    cursor: pointer;
    margin-top: 7px;
    color: black;
    border: 1px solid black;
}
 a {
    text-decoration: none;
 }