@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background: url(../imagens/back-tablet.jpg);
  }
  img#phone {
    display: none;
  }
  img#tablet {
    display: block;
  }
  img#print {
    display: none;
  }
  img#tv {
    display: none;
  }
  img#pc {
    display: none;
  }
}


